<div class="container">
  <div class="row">

    <div class="col-md-6">

    <%= form_with model: @tweet, url: tweets_path do |f| %>
      <%= f.text_area :content, :size=>"50x5",:placeholder=>"ã„ã¾ã©ã†ã—ã¦ã‚‹ï¼Ÿ" %>
      <div class="text-right">
        <%= f.submit "ãƒ„ã‚¤ãƒ¼ãƒˆã™ã‚‹", class:"btn btn-primary rounded-pill" %>
      </div>
    <% end %>

    <% @tweets.each do |tweet| %>
    <div class="border">

      <% if current_user == tweet.user %>
        <%= link_to "å‰Šé™¤ã™ã‚‹",tweet_path(tweet),method: :delete, "data-confirm" => "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" %>
      <% end %>

      <% if tweet.user.image.attached? %>
        <%= image_tag tweet.user.image, class: "profile-img" %>
      <% else %>
        <%= image_tag 'no_image.jpeg', class: "profile-img" %>
      <% end %>

      <%= link_to user_path(tweet.user) do %>
      <%= tweet.user.name %>
      <% end %><br>

      <%= tweet.content %><br>
      <%= link_to tweet_path(tweet) do %>
      ðŸ’¬<%= tweet.comments.count %>
      <% end %>

      <span id="likes_buttons_<%= tweet.id %>">
        <%= render partial: 'public/likes/like', locals: {tweet: tweet} %>
      </span>

    </div>
    <% end %>


