
<div class="container">
  <div class="row">

    <div class="col-md-6">
    <div class="border">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "profile-img" %>
      <% else %>
        <%= image_tag 'no_image.jpeg', class: "profile-img" %>
      <% end %>
      <%= form_with model: @tweet, url: tweets_path do |f| %>
        <%= f.text_area :content, style: "border: none",class: "content", :size=>"50x4",:placeholder=>"ã„ã¾ã©ã†ã—ã¦ã‚‹ï¼Ÿ" %>
        <div class="text-right">
          <%= f.submit "ãƒ„ã‚¤ãƒ¼ãƒˆã™ã‚‹", class:"btn btn-primary rounded-pill" %>
        </div>

      <% end %></div>

    <% @tweets.each do |tweet| %>
    <div class="border d-flex">

    <% if tweet.user.image.attached? %>
      <%= image_tag tweet.user.image, class: "profile-img" %>
    <% else %>
      <%= image_tag 'no_image.jpeg', class: "profile-img" %>
    <% end %>

    <div class="pt-2 pb-2 pl-2 content">
      <span class="text-dark">
      <%= link_to user_path(tweet.user) do %>
        <span class="user-name">
          <%= tweet.user.name %>
        </span>
      <% end %>
      <span class="tweet-date">ãƒ»<%= tweet.updated_at.strftime("%mæœˆ%dæ—¥") %></span>
      <br>
      </span>
      <%= simple_format(tweet.content) %>

      <%= link_to tweet_path(tweet) do %>
        ðŸ’¬<%= tweet.comments.count %>
      <% end %>

      <span id="likes_buttons_<%= tweet.id %>" class="pl-4">
        <%= render partial: 'public/likes/like', locals: {tweet: tweet} %>
      </span>

    </div>
    <div class="text-end">
      <% if current_user == tweet.user %>
        <%= link_to "âœ–ï¸",tweet_path(tweet),method: :delete,"data-confirm" => "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ" %>
      <% end %>
    </div>
    </div>
    <% end %>


